@{
    ViewData["Title"] = "About Legacy";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
-<br />
 <ul>
     <li>Node Name = <b>@ViewData["NodeName"]</b> </li>
     <li>App instance name = <b>@ViewData["AppInstanceName"]</b></li>
     <li>Service Instance name = <b>@ViewData["ServiceInstanceName"]</b></li>
 </ul>
-<br />
<p>You love legacy computer ?? visit <a href="http://www.livingcomputers.org/">Living Computers</a></p>
